{% extends 'listings/base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<h1>Groupes</h1>
<ul>
    {% for band in bands %}
    <li>
        <a href="{% url 'band-detail' band.id %}">{{ band.name }}</a>
        - <a href="{% url 'band-update' band.id %}">[modifier]</a>
        - <a href="{% url 'band-delete' band.id %}">[supprimer]</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}