{% extends 'listings/base.html' %}

{% block content %}
<h2>{{ band.name }}</h2>

<ul>
    <li>Genre : {{ band.get_genre_display }}</li>
    <li>Année de formation : {{ band.year_formed }}</li>
    <li>Actif : {{ band.active }}</li>
    <li>{{ band.official_homepage }}</li>
</ul>

<p>{{ band.biography }}</p>

<a href="{% url 'band-update' band.id %}">[modifier]</a> -
<a href="{% url 'band-delete' band.id %}">[supprimer]</a> -
<a href="{% url 'bands' %}">Retour à tous les groupes</a>

{% endblock %}