{% load static %}

<html>
<head>
    <title>Merchex</title>
    <link rel="stylesheet" href="{% static 'listings/styles.css'  %}" />
</head>
<body>

  <nav>
      <a href="{% url 'bands' %}">Groupes</a>
      <a href="{% url 'listings' %}">Produits</a>
      <a href="{% url 'about' %}">Qui sommes-nous ?</a>
      <a href="{% url 'contact' %}">Contact</a>
      <a href="{% url 'band-add' %}">Ajouter un groupe</a>
   </nav>

{% block content %}{% endblock %}

</body>
</html>