{% extends 'listings/base.html' %}

{% block content %}

<h1>Supprimer le produit</h1>

<p>Etes-vous sûr de vouloir supprimer le produit : {{ listing.title }} ?</p>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="supprimer">
</form>

{% endblock %}