{% extends 'listings/base.html' %}

{% block content %}

<h1>Modifier un produit dérivé</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Envoyer">
</form>

{% endblock %}