{% extends 'listings/base.html' %}

{% block content %}
{% if messages %}
{% for message in messages %}
<div>
    {{ message }}
</div>
{% endfor %}
{% endif %}
<h1>Voici la liste des titres :</h1>
<ul>
    {% for listing in listings%}
    <li>
        <a href="{% url 'listing-detail' listing.id %}">{{ listing.title }}</a>
        - <a href="{% url 'listing-update' listing.id %}">[modifier]</a>
        - <a href="{% url 'listing-delete' listing.id %}">[supprimer]</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}