{% extends 'listings/base.html' %}

{% block content %}
<h2>{{ listing.title }}</h2>

<ul>
    <li>Type : {{ listing.get_type_display }}</li>
    <li>Année : {{ listing.year }}</li>
    <li>Groupe : {{ listing.band }}</li>
</ul>

<p>Description: {{ listing.description }}</p>

<a href="{% url 'listing-update' listing.id %}">[modifier]</a> -
<a href="{% url 'listing-delete' listing.id %}">[supprimer]</a> -
<a href="{% url 'listings' %}">Retour à tous les produits</a>

{% endblock %}